<footer class="footer">
    <div class="container">
        <p class="text-muted">
            <img src="~/Content/Images/ICP300.png" width="26" height="26" />
            TrueNorth X | v<span id="VersionDisplay">@ViewBag.Version</span> &copy; <a href="http://www.BlueToque.ca" target="_blank">BlueToque Software</a> 
            <script>document.write(new Date().getFullYear())</script> 
        </p>
    </div>
</footer>
