<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlueDiamond.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <BlueDiamond.Desktop.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>50123</value>
            </setting>
            <setting name="VirtualDirectory" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="ApplicationDirectory" serializeAs="String">
                <value>{ApplicationDirectory}/../../../BlueDiamond</value>
            </setting>
        </BlueDiamond.Desktop.Properties.Settings>
    </applicationSettings>
</configuration>